<?xml version="1.0" encoding="utf-8"?>
<!--Config file for the game-->
 
 <config>

   <name>My super awesome Game</name>
   <window
     fullscreen = "false"
     borderless ="false"
     resizable = "true"
     fullscreen_window = "false"
     width  = "1024"
     height = "768"
     scale = "1"
    ></window>
   
 </config>